*{
    padding: 0;
    margin: 0;
}

.bar {
    width: 100%; 
    height: 120px;
    background-color: #666666;
    justify-content: center;
}

h1 {
    text-align: center;
    font-family: 'Doom 2016 Text', sans-serif;
    font-size:50px;
    color: white;
    letter-spacing: 3px;
    
}



/*Tamanho da Tela do jogo*/

.grid{
    width:600px;
    height: 600px;
    border: solid white 1px;
    display:flex;
    justify-content: center;
    margin-left: 35vw;
    flex-wrap: wrap;
}

body{
    background-image: url(./imagens/ela.jpg);
}

/*quadrados do jogo*/
.grid div{
    width: 40px;
    height: 40px;
}

/*Naves invasoras*/
.invader{
    background-image: url(./imagens/krita.png);
    
}

/*Nave matadora de Alien*/
.shooter{
    background-image: url(./imagens/pudim.png);
}

.laser{
    background-image: url(./imagens/js.jpg);
}

.boom{
    background-image:url(./imagens/boom.png);
}